---
import Hero from "../components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
import PartnerLinks from "../components/PartnerLinks.astro";
import PrimaryLink from "../components/PrimaryLink.astro";
import Section from "../components/Section.astro";
import VideoPlayer from "../components/VideoPlayer.astro";
import HowToHelp from "../components/HowToHelp.astro";
import AboutUs from "../components/AboutUs.astro";
---

<Layout title="Welcome to Whyuluvfootball">
  <Hero />
  <Section
    backgroundColor="green"
    eyebrow="Unsere Goals"
    heading="Unser Ziel ist 100.000 Fußbälle an Kinder überall in der Welt zu verschenken."
    id="our-goal"
    links={[
      {
        href: "https://www.betterplace.me/why-do-you-love-football",
        text: "Betterplace",
      },
      { href: "https://gofund.me/96424540", text: "GoFundMe" },
    ]}
  >
  <div class="textalign-center">
    Jetzt mitmachen und spenden!
  </div>
  </Section>
  <Section
    backgroundColor="blue"
    eyebrow="Videos"
    heading="I love football because..."
    id="videos"
  >
    <VideoPlayer />
  </Section>
  <Section backgroundColor="green" id="partners">
    <div
      class="flex flex-col gap-6 sm:gap-12 items-center max-w-[800px] text-center"
    >
      <h2>Unsere Partner</h2>
      <p>
        Wir sind eine Gruppe von Fußballfans aus verschiedenen Ländern, die die Fan-Initiative "WHY DO YOU LOVE FOOTBALL?" zur UEFA EM 2024 gegründet haben. Wir wollen Kindern und Jugendlichen in Armut ermöglichen, Fußball zu spielen, indem sie einen eigenen Fußball erhalten.
      </p>
      <PartnerLinks />
      <PrimaryLink href="mailto:dirkvonmeer@icloud.com" text="Partner werden" />
    </div>
  </Section>
  <Section
    backgroundColor="blue"
    eyebrow="Mithelfen"
    id="how-to-help"
    links={[
      {
        href: "https://www.betterplace.me/why-do-you-love-football",
        text: "Betterplace",
      },
      { href: "https://gofund.me/96424540", text: "GoFundMe" },
    ]}>
    <HowToHelp />
  </Section>
  <Section
    backgroundColor="green"
    eyebrow="Über uns"
    id="about-us">
    <AboutUs />
  </Section>
  <Section
    backgroundColor="blue"
    contentImage="/images/goal.jpeg"
    eyebrow="Spenden"
    heading="Lasst uns allen Kindern einen Fußball schenken."
    links={[
      {
        href: "https://www.betterplace.me/why-do-you-love-football",
        text: "Betterplace",
      },
      { href: "https://gofund.me/96424540", text: "GoFundMe" },
    ]}
    subheading="Jetzt Spenden"
  />
</Layout>
