---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
import Section from "../components/Section.astro";
import VideoPlayer from "../components/VideoPlayer.astro";
---

<Layout title="Welcome to Whyuluvfootball">
  <Section
    backgroundColor="green"
    eyebrow="Our goal"
    heading="Our goal is to donate 10 million balls to children around the world."
    id="our-goal"
    links={[
      { href: "https://gofund.me/96424540", text: "GoFundMe" },
      {
        href: "https://www.betterplace.me/why-do-you-love-football",
        text: "Betterplace",
      },
    ]}
  />
  <Section
    backgroundColor="blue"
    eyebrow="Videos"
    heading="I love football because..."
  >
    <VideoPlayer />
  </Section>
</Layout>
