---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
import Section from "../components/Section.astro";
import VideoPlayer from "../components/VideoPlayer.astro";
import HowToHelp from "../components/HowToHelp.astro";
import AboutUs from "../components/AboutUs.astro";
---

<Layout title="Welcome to Whyuluvfootball">
  <Section
    backgroundColor="green"
    eyebrow="Our goal"
    heading="Our goal is to donate 10 million balls to children around the world."
    id="our-goal"
    links={[
      {
        href: "https://www.betterplace.me/why-do-you-love-football",
        text: "Betterplace",
      },
      { href: "https://gofund.me/96424540", text: "GoFundMe" },
    ]}
  />
  <Section
    backgroundColor="blue"
    eyebrow="Videos"
    heading="I love football because..."
    id="videos"
  >
    <VideoPlayer />
  </Section>
  <Section
    backgroundColor="green"
    eyebrow="How to help"
    heading=""
    id="how-to-help"
  >
    <HowToHelp />
  </Section>
  <Section backgroundColor="blue" eyebrow="About us" heading="" id="about-us">
    <AboutUs />
  </Section>
  <Section
    backgroundColor="green"
    contentImage="/images/goal.jpeg"
    eyebrow="Donations"
    heading="Let's get every child a football."
    links={[
      {
        href: "https://www.betterplace.me/why-do-you-love-football",
        text: "Betterplace",
      },
      { href: "https://gofund.me/96424540", text: "GoFundMe" },
    ]}
    subheading="Donate now on"
  />
</Layout>
