---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---

<Layout title="Welcome to Whyuluvfootball">
		<h1>About <span class="text-gradient">300 million</span> kids worldwide don't have a football.</h1>

		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
		</ul>
</Layout>

