---
import Layout from '../layouts/Layout.astro';
import CustomSection from '../components/CustomSection.astro';
---

<Layout title="Welcome to Whyuluvfootball">
		<h1>About <span class="text-gradient">300 million</span> kids worldwide don't have a football.</h1>
		<CustomSection kicker='kicker' title="This is the title" text="This is the text area" color='green' />

</Layout>

