---
import Layout from "@layouts/Layout.astro";
import "@styles/global.css";
---

<Layout title="Imprint">
  <div class="container mx-auto py-8 px-4 sm:py-12 sm:px-8 lg:py-16 lg:px-28">
    <div class="flex items-center justify-between">
      <h1 class="mb-4">Privacy policy</h1>
      <a class="hover:underline text-blue" href="/">Back</a>
    </div>
    <p>Privacy policy text goes here...</p>
  </div>
</Layout>
