---

---

<div class="sm:px-8 lg:py-12 lg:px-8">
  <p class="text-center">
    Hallo zusammen, liebe Fußballfans!
  </p>
  <p>
    Ich bin Dirk, der Initiator von diesem Projekt und möchte mich kurz vorstellen. Ich habe immer gerne soziale Projekte für Menschen in Not entwickelt und umgesetzt. In den neunziger Jahren gründete ich die Aktion Kartoffelsäcke e.V. für Kriegsopfer in Bosnien und Kroatien. Wir sammelten pro Aktionstag über 50 Tonnen Hilfsgüter. Beruflich arbeitete ich über 12 Jahre mit Unicef in Deutschland an verschiedenen Projekten. Später half ich beim Aufbau des Fundraisings für ProVeg International, wofür wir einen UNO-Preis gewannen. Besonders prägend war die Zusammenarbeit mit Christoph und Stefan von 1xINTERNET. Vor 25 Jahren entwickelten wir ONIUM – The Help Company und spendeten Einnahmen an Unicef und WWF. Jetzt arbeiten wir wieder zusammen am Projekt WHY DO YOU LOVE FOOTBALL?
  </p>
  <p>
    Im Dezember letzten Jahres ist mein bester Freund Constantin gestorben. Wir hatten viele gemeinsame Träume, darunter eine Spendenaktion zur EM, da wir beide große Fußballfans sind. Nach einer schwierigen Zeit beschloss ich im März, unser Vorhaben umzusetzen. Mit Unterstützung vieler Menschen entwickelte ich das Projekt WHY DO YOU LOVE FOOTBALL? / DIE EURO 2024 – A FESTIVAL OF LOVE. Danke an Audrey, Claudia, Jana, Leandra, Malou, Sara, Abdulbaset, Ali, Axel, Bert, Christoph, Claus &amp; Claus, Eric, George, Markus, Matthias, Stefan, Rolf und Constantin, für alles, was Ihr möglich gemacht habt.
  </p>
  <p>
    Ich wünsche Euch eine schöne, sonnige und superspannende EM! <br/>
    Wenn Ihr Fragen habt, schreibt mir gern eine Nachricht.
  <p>
    Euer Dirk
  </p>
</div>
