---
import { getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

{
  lang === "de" ? (
    <div class="sm:px-8 lg:py-12 lg:px-8">
      <p>Hallo zusammen, liebe Fußballfans!</p>
      <p>
        <img
          src="/images/dirk-von-meer.300.jpeg"
          class="float-left pr-6 pb-6"
          loading="eager"
        />
        Ich bin Dirk, einer der Initiatoren und Unterstützer unseres Projekts
        WHY DO YOU LOVE FOOTBALL?, das wir zur EURO 2024 mit rund 30
        Unterstützerinnen und Unterstützern gestartet haben.
      </p>
      <p>
        Unser Ziel ist es, 100.000 hochwertige und nachhaltig produzierte
        Fußbälle Kindern und Jugendlichen, die weltweit in gravierender Armut
        leben, zu schenken. Im ersten Schritt versuchen wir Spenden für 17.000
        Fußbälle für Äthiopien zu sammeln. Diese Fußbälle werden dann über
        Unicef im Land an verschiedene Projekte verteilt.
      </p>
      <div class="collapsible">
        <p>
          Wie ist unser Projekt entstanden?
          <span class="expander italic">... Mehr anzeigen</span>
        </p>
        <p class="expanded">
          Im Januar ist mein bester Freund Constantin gestorben. Wir hatten
          viele gemeinsame Träume, darunter eine Spendenaktion zur EURO 2024, da
          wir beide leidenschaftliche Fußballfans sind. Nach einer traurigen
          Zeit beschloss ich unser gemeinsames Vorhaben umzusetzen.
        </p>
        <p class="expanded">
          Danke an alle, die dabei mitgeholfen haben und uns unterstützt haben,
          dass wir zur Fußball-Europameisterschaft unser Projekt starten
          konnten! Ganz besonders danke ich unseren Unterstützern Abdulbaset,
          Ali, Audrey, Axel, Baddy, Bert, Claudia, Christoph, Claus & Claus,
          Eric, George, Jana, Leandra, Linus, Malou, Maria, Markus, Matthias,
          Mousa, Neel, Sara, Stefan, Robin, Roland, Rolf, Sidy, Vahin und
          natürlich meinem lieben, verstorbenen Freund Constantin!
        </p>
        <p class="expanded">
          Ich habe früher schon einige soziale Projekte mit anderen engagierten
          Menschen mitaufgebaut und konnte dabei viele wichtige und schöne
          Erfahrungen sammeln. Besonders prägend war die Zusammenarbeit mit
          Christoph und Stefan von 1xINTERNET. Vor 25 Jahren entwickelten wir
          ONIUM – The Help Company und spendeten Einnahmen an Unicef und WWF.
          Jetzt arbeiten wir wieder zusammen am Projekt WHY DO YOU LOVE
          FOOTBALL? Einfach schön, dass wir wieder etwas Sinnvolles zusammen
          machen.
        </p>
        <p class="expanded">
          Wenn Ihr Fragen oder Anregungen für uns habt, schreibt mir gern eine
          Nachricht:{" "}
          <a href="mailto://dirkvonmeer@icloud.com">dirkvonmeer@icloud.com</a>
        </p>
        <p class="expanded">
          Herzliche Grüße <br />
          Euer Dirk
        </p>
        <p class="expanded">
          PS: Wenn Ihr Organisationen oder Fußballschulen kennt, die Fußbälle
          brauchen oder die uns bei der Verteilung der Fußbälle in den nächsten
          Jahren helfen können, gebt uns gern per E-Mail eine Info und die
          Kontaktdaten.
        </p>
      </div>
    </div>
  ) : (
    <div class="sm:px-8 lg:py-12 lg:px-8">
      <p>Hello everyone, dear football fans!</p>
      <p>
        <img
          src="/images/dirk-von-meer.300.jpeg"
          class="float-left pr-6 pb-6"
          loading="eager"
        />
        I'm Dirk, one of the initiators and supporters of our WHY DO YOU LOVE
        FOOTBALL? project, which we launched for EURO 2024 with around 30
        supporters.
      </p>
      <p>
        Our aim is to donate 100,000 high-quality, sustainably produced
        footballs to children and young people living in extreme poverty around
        the world. As a first step, we are trying to collect donations for
        17,000 footballs for Ethiopia. These footballs will then be distributed
        to various projects in the country via Unicef.
      </p>
      <div class="collapsible">
        <p>
          How did our project come about?
          <span class="expander italic">... Show more</span>
        </p>
        <p class="expanded">
          My best friend Constantin died in January. We had many dreams
          together, including a fundraising campaign for EURO 2024, as we are
          both passionate football fans. After a sad time, I decided to realise
          our joint project.
        </p>
        <p class="expanded">
          Thank you to everyone who helped and supported us so that we could
          launch our project for the European Football Championship! I would
          especially like to thank our supporters Abdulbaset, Ali, Audrey, Axel,
          Baddy, Bert, Claudia, Christoph, Claus & Claus, Eric, George, Jana,
          Leandra, Linus, Malou, Maria, Markus, Matthias, Mousa, Neel, Sara,
          Stefan, Robin, Roland, Rolf, Sidy, Vahin and of course my dear,
          deceased friend Constantin!
        </p>
        <p class="expanded">
          I have already helped to set up several social projects with other
          committed people in the past and was able to gain many important and
          wonderful experiences. The collaboration with Christoph and Stefan
          from 1xINTERNET was particularly formative. We developed ONIUM - The
          Help Company 25 years ago and donated proceeds to Unicef and WWF. Now
          we are working together again on the WHY DO YOU LOVE FOOTBALL?
          project. It's great that we're doing something meaningful together
          again.
        </p>
        <p class="expanded">
          We were particularly pleased that DAZN will be reporting on our
          project from the start of the 2024/25 Bundesliga season. Thanks to the
          great DAZN team for your support!
        </p>
        <p class="expanded">
          If you have any questions or suggestions for us, please send me a
          message:{" "}
          <a href="mailto://dirkvonmeer@icloud.com">dirkvonmeer@icloud.com</a>
        </p>
        <p class="expanded">
          Best regards
          <br />
          Dirk
        </p>
        <p class="expanded">
          PS: If you know of any organisations or football schools that need
          footballs or that can help us with the distribution of footballs in
          the coming years, please send us an email with the contact details.
        </p>
      </div>
    </div>
  )
}
