---
import IconTwitter from "../assets/icons/IconTwitter.astro";
import IconYoutube from "../assets/icons/IconYoutube.astro";
import IconInstagram from "../assets/icons/IconInstagram.astro";
import HashtagWhyULoveFootball from "./HashtagWhyULoveFootball.astro";
---

<footer class="bg-black text-white">
  <div class="container mx-auto py-8 px-4 sm:py-12 sm:px-8 lg:py-16 lg:px-28">
    <div class="flex flex-col lg:flex-row justify-between items-center pb-8 border-b border-dark-gray">
      <div class="mb-4 lg:mb-0">
        <HashtagWhyULoveFootball />
      </div>
      <div class="flex space-x-4">
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
          <IconTwitter />
        </a>
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
          <IconYoutube />
        </a>
        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
          <IconInstagram />
        </a>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between items-center pt-8">
      <div class="mb-4 lg:mb-0">
        <p class="text-base">© 2024 whyulovefootball. All Rights Reserved.</p>
      </div>
      <div class="flex flex-row space-x-4 text-base">
        <a href="/privacy-policy" class="text-white hover:underline">Privacy Policy</a>
        <a href="/terms-conditions" class="text-white hover:underline">Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>

