---
import HashtagWhyULoveFootball from "@components/HashtagWhyULoveFootball.astro";
---

<nav class="bg-transparent">
  <div
    class="container flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="https://whyuluvfootball.world/">
      <HashtagWhyULoveFootball />
    </a>
    <button id="open-mobile-menu" type="button" class="xl:hidden">
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="#54F400"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div
      class="hidden absolute top-0 right-0 bottom-0 left-0 bg-blue xl:bg-transparent xl:static xl:block xl:w-auto"
      id="navbar"
    >
      <button
        id="close-mobile-menu"
        class="absolute right-2 top-2 text-2xl text-green p-3 xl:hidden"
        >X</button
      >
      <ul
        class="font-medium text-3xl px-4 pt-14 flex flex-col xl:p-0 xl:text-xl xl:flex-row gap-8 xl:gap-12"
      >
        <li>
          <a href="#our-goal" class="block text-green">Our Goal</a>
        </li>
        <li>
          <a href="#how-to-support" class="block text-green">How to Support</a>
        </li>
        <li>
          <a href="#partners" class="block text-green">Partners</a>
        </li>
        <li>
          <a href="#social-media-news" class="block text-green"
            >Social Media News</a
          >
        </li>
        <li>
          <a href="/media-requests" class="block text-green">Media Requests</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  var navBar = document.getElementById("navbar");
  var openButton = document.getElementById("open-mobile-menu");
  var closeButton = document.getElementById("close-mobile-menu");
  var hero = document.getElementById("hero");
  var navBar_container = document.getElementById("navbar-container");
  var hero_text = document.getElementById("hero-text");
  var footer = document.getElementById("footer");
  var menuItems = document.querySelectorAll("#navbar li");

  if (navBar && openButton && closeButton) {
    openButton.addEventListener("click", () => {
      navBar.style.height = window.innerHeight + "px";
      document.body.style.overflow = "hidden";
      navBar?.classList.contains("hidden")
        ? navBar.classList.remove("hidden")
        : navBar?.classList.add("hidden");
      hero?.classList.contains("relative")
        ? hero.classList.remove("relative")
        : hero?.classList.add("relative");
      navBar_container?.classList.contains("absolute")
        ? navBar_container.classList.remove("absolute", "left-0", "right-0")
        : navBar_container?.classList.add("absolute", "left-0", "right-0");
      hero_text?.classList.contains("absolute")
        ? hero_text.classList.remove("absolute")
        : hero_text?.classList.add("absolute");
      footer?.classList.contains("hidden")
        ? footer.classList.remove("hidden")
        : footer?.classList.add("hidden");
    });
    closeButton.addEventListener("click", () => {
      document.body.style.overflow = "auto";
      navBar?.classList.add("hidden");
      hero?.classList.add("relative");
      navBar_container?.classList.add("absolute", "left-0", "right-0");
      hero_text?.classList.add("absolute");
      footer?.classList.remove("hidden");
    });
    menuItems.forEach((item) =>
      item.addEventListener("click", () => {
        if (!navBar?.classList.contains("hidden")) {
          document.body.style.overflow = "auto";
          navBar?.classList.add("hidden");
          hero?.classList.add("relative");
          navBar_container?.classList.add("absolute", "left-0", "right-0");
          hero_text?.classList.add("absolute");
          footer?.classList.remove("hidden");
        }
      }),
    );
  }
</script>
