---

---

<div class="partner-links">
  <div>
    <partner-link
      logo="/images/1xinternet.png"
      brand="1xINTERNET"
      url="https://www.1xinternet.de/"></partner-link>
  </div>
  <div>
    <partner-link
      logo="/images/logo-fount.png"
      brand="fount"
      url="https://www.fount.space/"></partner-link>
    <partner-link
      logo="/images/c_sr.png"
      brand="C_SR"
      url="https://www.c-sr.org/"></partner-link>
  </div>
  <div>
    <partner-link
      logo="/images/logo-lehmann.jpg"
      brand="büro lehmann"
      url="https://www.buero-lehmann.com"></partner-link>
    <partner-link
      logo="/images/psf.png"
      brand="Paraschwimmen Frankfurt e.V."
      url="https://www.paraschwimmen-frankfurt.de"></partner-link>
    <partner-link
      logo="/images/progressiva.png"
      brand="fount"
      url="https://progressiva.world/"></partner-link>
  </div>
  <div>
    <partner-link
      logo="/images/logo-craft.jpg"
      brand="CRAFT BRÄU"
      url="https://www.craft-braeu.de"></partner-link>
    <partner-link
      logo="/images/tante-kathe.png"
      brand="Tante Käthe"
      url="https://tante-kaethe-fussballkneipe.de/"></partner-link>
  </div>
  <div>
    <partner-link
      color="#02a95c"
      logo="/images/gofundme.png"
      brand="GoFundMe"
      url="https://gofund.me/96424540"></partner-link>
    <partner-link
      logo="/images/betterplace.png"
      brand="Betterplace"
      url="https://www.betterplace.me/why-do-you-love-football"></partner-link>
  </div>
</div>

<script>
  class PartnerLink extends HTMLElement {
    constructor() {
      super();
      const _randomSize = (Math.floor(Math.random() * 3) + 1).toString();
      const a = document.createElement("a");
      a.classList.add("partner-link");
      a.setAttribute("data-size", _randomSize);
      a.style.backgroundColor = this.getAttribute("color") ?? "white";
      a.href = this.getAttribute("url") ?? "";
      a.setAttribute("target", "_blank");
      a.setAttribute("title", this.getAttribute("brand") ?? "");
      this.appendChild(a);
      const img = document.createElement("img");
      img.src = this.getAttribute("logo") ?? "";
      a.appendChild(img);
    }
  }
  customElements.define("partner-link", PartnerLink);
</script>
