---
import IconPlayVideo from "../assets/icons/IconPlayVideo.astro";


---

<button class="bg-[#54F400] text-[#2B00FF] font-bold py-5 px-8 shadow-md transition-all duration-300 hover:bg-[#4FC90E] hover:shadow-lg active:shadow-none active:bg-[#54F400] active:text-[#1C00A8] text-xl cursor-pointer flex items-center justify-center">
  <IconPlayVideo />
  <span class="ml-2">Play Now</span>
</button>
