---
import IconChevronRight from "@icons/IconChevronRight.astro";
---

<div data-service="youtube" data-id="wFAazFeFgOY" data-autoscale></div>
<div class="max-w-80 sm:container">
  <div class="flex gap-3 items-center mb-3">
    <span>Weitere videos</span>
  </div>
  <div class="relative">
    <div class="flex gap-3 overflow-x-scroll scrollbar-hide">
      <div data-service="youtube" data-id="Fxb9bgPpnys" data-autoscale></div>
      <div data-service="youtube" data-id="x2fNlaTvd60" data-autoscale></div>
      <div data-service="youtube" data-id="LyVeknDDQCw" data-autoscale></div>
      <div data-service="youtube" data-id="QNXl7RAOevI" data-autoscale></div>
      <div data-service="youtube" data-id="i4Ap6hCtyug" data-autoscale></div>
      <div class="min-w-[40%] min-h-full"></div>
    </div>
    <div
      class="absolute bg-gradient-to-r from-transparent to-blue h-full ml-auto top-0 right-0 w-2/12 sm:w-1/5 z-10"
    >
    </div>
    <div class="absolute top-[40%] right-4 w-10 h-10 z-10">
      <IconChevronRight />
    </div>
  </div>
</div>
